<!doctype html>
<html>
<head>
  <title>{% block title %}Title goes here{% endblock %} Ratings</title>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css">
  <link href="static/styles.css" rel="stylesheet">
</head>

<body>
 <div class="container">

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        {{ message }}
      {% endfor %}
    {% endif %}
  {% endwith %}

  {% if session.get("current_user")%}
      {{session.get("current_user")}}
      <form action="/logout">
        <input type="submit" value="logout">
      </form>
  {% else %}
      <form action="/login">
        <input type="submit" value="login">
      </form>  
  {% endif %}

  {% block content %} put your content here {% endblock %}

    <div class="col">
      <form action="/">
          <input type="submit" value="Home">
        </form>
    </div>
  </div>
</body>
</html>